body{
    margin: 0;
    font-family: "Georgia", serif;
    font-size: 17px;
    color: black;
}

.header {
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items:center;
  width: 100%;
  height: 80px;
  border-bottom: solid 1px black;
}
.logo {
  display:flex;
  align-items:center;
}
.logo span {
  color: MediumAquamarine;
}
nav span {
  display: inline-block;
  padding: 20px 10px;
}

.content {
  display: flex;
}
.column {
  display: flex;
  flex-direction: column;
  border: thin solid black;
}

.column.large {
  width: 630px;
}

.column.medium {
  width: 300px;
}

.column.small {
  width: 240px;
}


.lead-story {
  border: medium solid black;
}
.story {
  border: medium solid black;
}
.text-content  {
  border: thin solid black;
}
.image-content  {
  display: flex;
  flex-direction: column;
  border: thin solid black;
  height: 300px;
  font-weight: bold;
  font-size: 30px;
  color: white;
}
.lead-story .image-content {
  background-image: url("../../resources/images/img-story-main.png");
  font-size: 40px;
}
.fall-cancelled.image-content {
  background-image: url("../../resources/images/img-story-2.png");
}

.pop-culture.image-content {
  background-image: url("../../resources/images/img-story-3.png");
}
.cat-ceo.image-content {
  background-image: url("../../resources/images/img-story-1.png");
}
.news-bites {
  border: thin solid black;
}
.cookie {
  border: thin solid black;
}
